.container-slider {
        max-width: 1000px;
        height: 500px;
        margin: 100px auto 0;
        position: relative;
       
        
    
}
.slide {
  width: 100%;  height: 100%;  position: absolute;
/* positionner l élément de manière précise par rapport à son conteneur parent*/
}
.slide img {
  width: 100%;  height: 100%;
}
.btn-slide {
  width: 60px;  height: 60px;  border-radius: 50%;
  background-image: linear-gradient(to right, #0B5BC6, #F797FF);
  border: 1px solid;
  position: absolute; 
  cursor: pointer;
}
.btn-slide img {
  width: 20px;  height: 20px;
}
.prev {
  top: 50%;  left: 20px;
}
.next {
  top: 50%;  right: 20px;
}
/* ButtonStyles.css */
.download-button {
  background-image: linear-gradient(to right,#0B5BC6, #F797FF);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

